fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
Faker
pgvector
sentence-transformers
torch
langchain-core
langchain-xai
langgraph
langgraph-checkpoint-postgres
psycopg[binary,pool]
